@import "tailwindcss";

@theme {
  --color-purple-100: #D8D1FC;
  --color-purple-500: #7551DC;
  --color-yellow-100: #F9EEE2;
  --color-yellow-500: #FFCC6A;
  --color-black: #121212;

  --font-dm: "DM Sans", sans-serif;
  --text-base: 18px;
  --leading-base: 20px;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "DM Sans", sans-serif;
}